.navbar {
    text-align: center;
}

.navbar a {
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 10px;
    color: black;
}

.navbar a:hover {
    background-color: bisque;
}
