* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header img {
    width: 60px;
    background-color: antiquewhite;
    border-radius: 35px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.24);
}

.header {
    display: flex;

    font-weight: bold;
    padding-left: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.header p {
    font-size: larger;
    margin-left: 80px;
    color: rgb(75, 34, 57);
}
